.display {
    background-color: #222222; 
    height: 5rem;
    // display: border-box;
    // border: 2px solid white;

    h1 {
        color: white;
        text-align: right;
        padding: 1rem;
        font-size: 3rem;
    }
}